<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="all-products-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="" class="dropdown-item">By Price</a>
        <a href="" class="dropdown-item">By Category</a>
        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="paintings-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Paintings
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="paintings-link">
        <a
          href="{% url 'products' %}?category=paintings,acrylic"
          class="dropdown-item"
          >Acrylic &amp; Acrylic</a
        >
        <a
          href="{% url 'products' %}?category=paintings,oil"
          class="dropdown-item"
          >Oil &amp; Oil</a
        >
        <a
          href="{% url 'products' %}?category=paintings,fluid_art"
          class="dropdown-item"
          >Fluid art &amp; Fluid art</a
        >
        <a
          href="{% url 'products' %}?category=paintings,acrylic,oil,fluid_art"
          class="dropdown-item"
          >All paintings art &amp; All paintings</a
        >
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="jewlery-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Jewlery
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="jewlery-link">
        <a href="" class="dropdown-item">Necklace</a>
        <a href="" class="dropdown-item">Earings</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black"
        href="#"
        id="functional-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Functional art
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="functional-link">
        <a href="" class="dropdown-item">Coasters</a>
        <a href="" class="dropdown-item">Candle sticks</a>
        <a href="" class="dropdown-item">Pots, vases and trays</a>
      </div>
    </li>
  </ul>
</div>
